/* Universal */
body{
    margin: 0px;
    background-color: black;
}


/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

.nav_white{
    text-decoration: none;
    color: white;
    font-family: "Afacad Flux", sans-serif;
}

/* Nav bar elements */
#nav_bar{
    display:flex;
    list-style-type: none;
    margin: auto;
    background-color: black;
}

.nav_element{
    margin: auto;
    padding: 10px;
}
