button {
    padding: 10px 15px;
    border-radius: 10px
}

.filled {
    color: white;
    background-color: blue;
    border-color: black;
}

.inverted-fill {
    color: blue;
    background-color: white;
    border-color: blue;
}